.header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.header a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

nav li {
  font-weight: 500;
  cursor: pointer;
}

nav li a {
  color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--color-primary);
}

.active {
  background: var(--color-accent-yellow);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 0.75rem;
  }
}
