.hero {
  background-color: #f9f9f9;
  border-radius: 2rem;
  padding: 3rem 2rem;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.hero > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: clamp(3rem, 0.5rem + 4vw, 6rem);
  font-weight: 600;
  line-height: 1;
  max-width: 600px;
}

.hero h1 span {
  display: block;
}

.hero p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #444;
  max-width: 500px;
  flex: 1;
}

.arrowButton {
  background: transparent;
  border: 1.5px solid var(--color-background);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-background);
}

.arrowButton:hover {
  background: #000;
  color: var(--color-primary);
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
