.page {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: grid;
  grid-template-columns: 3fr 2.25fr;
  grid-template-rows: 3.345rem 1fr;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media (max-width: 1024px) {
  .gridLayout {
    grid-template-columns: 1fr;
  }

  .page {
    padding: 1rem;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .page {
    display: flex;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    height: auto;
  }
}
